---
import { Icon } from 'astro-icon';
import { getCollection } from 'astro:content';
import SimpleLayout from '../layouts/SimpleLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import SubjectCard from '../components/SubjectCard.astro';
import ProjectCard from '../components/ProjectCard.astro';
import StudentCard from '../components/StudentCard.astro';

const menu = [
  {
    name: 'Disciplinas',
    link: '#subjects',
  },
  {
    name: 'Projetos',
    link: '#projects',
  },
  {
    name: 'Estudantes',
    link: '#students',
  },
];

const selectedSubjects = [
  'aps-cstsi-jp',
  'bd-mpti-jp',
  'ped-cstrc-jp',
  'lp2-ctiiem-jp',
];

const subjects = (await getCollection('subjects')).filter((subject) =>
  selectedSubjects.includes(subject.data.id)
);
const projects = await getCollection('projects');

const students = await getCollection('students');
---

<SimpleLayout title="Github do IFPB">
  <Header menu={menu} />
  <main>
    <section id="subjects" class="subjects-section bg-white px-8 py-16">
      <div
        class="container lg:max-w-screen-lg mx-auto flex flex-col md:flex-row gap-10"
      >
        <div>
          <h2 class="text-4xl font-bold mb-4">Disciplinas</h2>
          <p class="mb-4">
            Aqui você encontra os repositórios das disciplinas ofertadas nos
            cursos do IFPB.
          </p>
          <a
            href="/subjects/"
            class="bg-[#0B3314] py-2 px-4 rounded-md font-semibold text-white inline-flex gap-1 items-center justify-center"
          >
            Mais disciplinas
            <Icon name="ic:round-keyboard-double-arrow-right" size={24} />
          </a>
        </div>
        <div
          class="grid grid-cols-1 md:grid-cols-2 md:grid-rows-2 gap-5 items-stretch"
          style=""
        >
          {subjects.map((subject) => <SubjectCard subject={subject} />)}
        </div>
      </div>
    </section>
    <section id="projects" class="projects-section bg-[#0B3314] px-8 py-16">
      <div
        class="container lg:max-w-screen-lg mx-auto flex flex-col md:flex-row gap-10"
      >
        <div class="text-white -order-1 md:order-1">
          <h2 class="text-4xl font-bold mb-4">Projetos</h2>
          <p class="mb-4">
            Esse é um preview dos vários projetos feitos pelos nossos alunos.
          </p>
          <p>
            <a
              href="https://ifpb.github.io/projects/codes/page/1/"
              class="bg-black py-2 px-4 rounded-md font-semibold inline-flex gap-1 items-center justify-center"
            >
              Mais projetos
              <Icon name="ic:round-keyboard-double-arrow-right" size={24} />
            </a>
          </p>
        </div>
        <div
          class="grid justify-items-stretch gap-5 grid-cols-1 md:grid-cols-[repeat(2,_auto)] lg:grid-cols-3"
        >
          {projects.map((project) => <ProjectCard project={project} />)}
        </div>
      </div>
    </section>
    <section
      id="students"
      class="students-section bg-black text-white px-8 py-16"
    >
      <div
        class="container lg:max-w-screen-lg mx-auto flex flex-col md:flex-row gap-10"
      >
        <div>
          <h2 class="text-4xl font-bold mb-4">Alunos</h2>
          <p class="mb-4">
            Aqui você poderá encontrar portfólio e contato de estudantes e
            egressos de vários cursos do IFPB.
          </p>
          <p>
            <a
              href="https://ifpb.github.io/projects/people/page/1/"
              class="bg-white text-black py-2 px-4 rounded-md font-semibold inline-flex gap-1 items-center justify-center"
            >
              Mais alunos
              <Icon name="ic:round-keyboard-double-arrow-right" size={24} />
            </a>
          </p>
        </div>
        <div class="text-black grid grid-cols-1 md:grid-cols-4 gap-5">
          {students.map((student) => <StudentCard student={student} />)}
        </div>
      </div>
    </section>
  </main>
  <Footer />
</SimpleLayout>
