---
import { getCollection } from 'astro:content';

const courses = await getCollection('courses');

courses.sort((a, b) => a.data.name.localeCompare(b.data.name));
---

<footer>
  <div
    class="container lg:max-w-screen-lg mx-auto py-16 px-8 flex gap-10 justify-between items-center"
  >
    <a href="/" class="max-sm:hidden">
      <img src="/imgs/ifpb-logo.svg" alt="Logo do IFPB" class="w-20" />
    </a>
    <div
      class="flex flex-col min-[425px]:flex-row min-[425px]:justify-between gap-10"
    >
      <section>
        <h1 class="font-semibold">Rede Social</h1>
        <ul>
          <li>
            <a href="https://www.linkedin.com/school/ifpb/"> IFPB </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/company/programa-de-p%C3%B3s-gradua%C3%A7%C3%A3o-em-tecnologia-da-informa%C3%A7%C3%A3o/posts/?feedView=all"
            >
              PPGTI
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/company/assert-polo-embrapii/posts/?feedView=all"
            >
              Assert
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/polo-de-inova%C3%A7%C3%A3o-do-ifpb-11bb871b3/recent-activity/all/"
            >
              Polo de Inovação
            </a>
          </li>
        </ul>
      </section>
      <section>
        <h1 class="font-semibold">Links Úteis</h1>
        <ul>
          <li>
            <a href="https://ifpb.github.io/projects/codes/page/1/">
              Projetos do IFPB
            </a>
          </li>
          <li>
            <a href="https://ifpb.github.io/projects/people/page/1/">
              Alunos e Professores
            </a>
          </li>
          <li>
            <a href="https://ifpb.github.io/exercises/">Exercícios</a>
          </li>
          <li>
            <a href="https://github.com/ifpb/maratona-pop">Maratona POP</a>
          </li>
          <li>
            <a href="https://joaopessoa.ifpb.edu.br/horario/">
              Horários (HIFPB)
            </a>
          </li>
          <li>
            <a href="https://ifpb.github.io/talks-iftech/">IFTech</a>
          </li>
        </ul>
      </section>
      <section>
        <h1 class="font-semibold">Cursos</h1>
        <ul>
          {
            courses.map((course) => (
              <li>
                <a href={course.data.page}>
                  {course.data.level.compact} em {course.data.name}
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </div>
  </div>
</footer>
